{% extends "base.html" %}
{% block content %}
    
<!-- 500 error handling -->
 <section id="hero-image-full-screen"> 
    <div class="container-fluid">
        <div class="row">
           <div class="col s12 m6 offset-m3 errors-top-margin valign">
                 <div class="error-handlers-style">
                    <div class="center">
                        <h1>Internal Server Error</h1>
                        <h2>Ooops! Looks like something went wrong</h2>
                    </div>
                        <p class="center-align">Please use the the button below</p>
                     <div class="center-align error-button">
                        <a href="{{ url_for('get_recipes') }}" class="btn-small green-btn">Go back Home</a>
                     </div>
                 </div>
            </div>
         </div>
   </div>
</section>

{% endblock %}