{% extends "base.html" %}
{% block content %}
<div class="container">
    <h3 class="center-align">Add Category</h3>
    
    <div class="row ">
        <form class="col s12" method="POST" action="{{ url_for('add_category') }}">
           
            <div class="row card-panel z-depth-2 card-style">
                 <!-- Category Name -->
                <div class="input-field col s12">
                    <input id="name" name="name" minlength="5" maxlength="20" type="text" class="validate" required>
                    <p class="text-style">Category should start with the word <b class="warning-text">Stay</b> and be no longer than <b class="warning-text">20</b> characters</p>
                    <label for="name">Category Name</label>
                </div>
                <!-- Category Description -->
                <div class="input-field col s12">
                    <input id="description" name="description" maxlength="400" type="text" class="validate" required>
                    <p class="text-style">A brief description of the category, no longer than <b class="warning-text">350</b> characters</p>
                    <label for="description">Category Description</label>
                </div>
            </div>
        
            <!-- Submit Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-small add-list-item">
                        Add Category <i class="fas fa-plus-circle right"></i>
                    </button>   
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}