{% extends "base.html" %}
{% block content %}
<h3 class="center-align">Add Recipe</h3>

<!--CREDIT: Form select, Text inputs code from materializecss customized-->
<div class="row ">
    <form class="col s12">
        <!-- Recipe Name -->
        <div class="row card-panel z-depth-2 card-style">
            <div class="input-field col s12" method="POST" action="">
                <input id="name" name="name" minlength="1" maxlength="45" type="text" class="validate" required>
                <label for="name">Recipe Name</label>
            </div>
        </div>
        <!-- Serves -->
        <div class="row card-panel z-depth-2 card-style">
            <div class="input-field col s12" method="POST" action="">
                <select id="serves" name="serves" class="validate" required>
                    <option value="" disabled selected>Serves</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                    <option value="3">5</option>
                    <label for="serves">Select Serves</label>
                </select>
            </div>
        </div>
        <!-- Calories -->
        <div class="row card-panel z-depth-2 card-style">
            <div class="input-field col s12" method="POST" action="">
                <input id="calories" name="calories" type="text" class="validate" placeholder="250" required>
                <label for="calories">Calories per serving</label>
            </div>
        </div>
        <!-- Image URL -->
        <div class="row card-panel card-style">
            <div class="input-field col s12" method="POST" action="">
                <input id="image_url" name="image_url" type="text" class="validate" required>
                <label for="image_url">Image URL</label>
            </div>
        </div>
        <!-- Recipe Description -->
        <div class="row card-panel z-depth-2 card-style">
            <div class="input-field col s12" method="POST" action="">
                <textarea id="description" name="description" minlength="5" maxlength="250"
                    class="materialize-textarea validate" required></textarea>
                <label for="description">Recipe Description</label>
            </div>
        </div>
        <!-- Choose Category -->
        <div class="row card-panel z-depth-2 card-style">
            <div class="input-field col s12" method="POST" action="">
                <select id="name" name="name" class="validate" required aria-label="Recipe Categories">
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}    
                        <option value="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- Recipe Ingredients -->
        <div class="row card-panel z-depth-2 card-style">
            <h5 class="col s12">Ingredients</h5>
            <div class="col s12">
                <ul id="ingredients" class="collection">
                    <li class="collection-item">
                        <div class="input-field">
                            <input name="ingredients" type="text" value="" maxlength="65" required>
                        </div>
                        <a class="remove-list-item"><i class="material-icons">clear</i></a>
                    </li>
                    <li class="collection-item">
                        <a class="btn-floating btn-small add-list-item">
                            <i class="material-icons">+</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Recipe Methods -->
        <div class="row card-panel z-depth-2 card-style">
            <h5 class="col s12">Method</h5>
            <div class="col s12">
                <div class="col s12">
                    <ul id="method" class="collection">
                        <li class="collection-item">
                            <div class="input-field">
                                <input name="method" type="text" value="" maxlength="150" required>
                            </div>
                            <a class="remove-list-item"><i class="material-icons">clear</i></a>
                        </li>
                        <li class="collection-item">
                            <a class="btn-floating btn-small add-list-item">
                                <i class="material-icons">+</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

    </form>
</div>



{% endblock %}