{% extends "base.html" %}
{% block content %}
<div class="container">
<h1 class="center-align">Add Recipe</h1>

<!--CREDIT: Form select, Text inputs code from materializecss customized-->
<div class="row ">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_recipe') }}">
        <!-- Recipe Name -->
        <div class="row card-panel z-depth-2 box-style">
            <div class="input-field col s12">
                <input id="name" name="name" minlength="1" maxlength="45" type="text" class="validate" required>
                <label for="name">Recipe Name</label>
            </div>
        </div>
        <!-- Serves -->
        <div class="row card-panel z-depth-2 box-style">
            <div class="input-field col s12">
                <select id="serves" name="serves" class="validate" aria-label="Serves" required>
                    <option value="" disabled selected>People</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                    <option value="3">5</option>
                </select>
                <label for="serves">Select Serves</label>
            </div>
        </div>
        <!-- Calories -->
        <div class="row card-panel z-depth-2 box-style">
            <div class="input-field col s12">
                <input id="calories" name="calories" type="text" class="validate" placeholder="250" required>
                <label for="calories">Calories per serving</label>
                <i class="fas fa-info-circle right tooltipped" data-position="left" 
                data-tooltip="If you are not sure know how many calories is in your smoothie,<br> you can use the online food calculator"></i>
            </div>
        </div>
        <!-- Image URL -->
        <div class="row card-panel box-style">
            <div class="input-field col s12">
                <input id="image_url" name="image_url" type="text" class="validate">
                <label for="image_url">Image URL</label>
                <i class="fas fa-info-circle right tooltipped" data-position="left" data-tooltip="Include an URL image in portrait view best ratio 2:3<br>
                    from your cloud storage or from the web, <br>right mouse click on the image, choose the 'Copy image address' option and paste it in this field.<br> 
                    Image is not required but it is nice to have one."></i>
            </div>
        </div>
        <!-- Recipe Description -->
        <div class="row card-panel z-depth-2 box-style">
            <div class="input-field col s12">
                <textarea id="description" name="description" minlength="5" maxlength="250"
                    class="materialize-textarea validate" required></textarea>
                <label for="description">Recipe Description</label>
                <i class="fas fa-info-circle right tooltipped" data-position="left" 
                data-tooltip="Place here a short description of your smoothie, max 250 characters."></i>
            </div>
        </div>
        <!-- Category Selection-->
        <div class="row card-panel z-depth-2 box-style">
            <div class="input-field col s12">
                <select id="category_name" name="category_name" class="validate" aria-label="Recipe Categories" required>
                    <option value="" disabled selected>Choose Category</option>
                    {% for category in categories %}
                        <option value="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <!-- Recipe Ingredients -->
        <div class="row card-panel z-depth-2 box-style">
            <h4 class="col s12">Ingredients</h4>
            <div class="col s12">
                <ul id="ingredients" class="collection">
                    {% for ingredient in ingredients %}
                    <li class="collection-item">
                        <div class="input-field">
                            <input name="ingredients" type="text" value="{{ ingredient }}" maxlength="120"
                                class="validate" required>
                        </div>
                        <a class="btn-floating btn-small red-btn">
                            <i class="fas fa-minus"></i></a>
                    </li>
                    {% endfor %}
                    <li class="collection-item">
                        <a class="btn-floating btn-small green-btn">
                            <i class="fas fa-plus"></i>
                        </a>
                    </li>
                </ul>
                <i class="fas fa-info-circle right tooltipped ingred-info" data-position="left" 
                data-tooltip="Add as many ingredients as you need to make your smoothie,<br> make sure to include an amount and measurement"></i>
            </div>
        </div>

        <!-- Recipe Methods -->
        <div class="row card-panel z-depth-2 box-style">
            <h4 class="col s12">Method</h4>
            <div class="col s12">
                <ul id="method" class="collection">
                    {% for method in methods %}
                    <li class="collection-item">
                        <div class="input-field">
                            <input name="method" type="text" value="{{- method -}}" maxlength="120" class="validate" required>
                        </div>
                        <a class="btn-floating btn-small red-btn">
                            <i class="fas fa-minus"> </i></a>
                    </li>
                    {% endfor %}
                    <li class="collection-item">
                        <a class="btn-floating btn-small green-btn">
                            <i class="fas fa-plus"></i>
                        </a>
                    </li>
                </ul>
                <i class="fas fa-info-circle right tooltipped methods-info" data-position="left" data-tooltip="Add as many steps as it take to make your smoothie"></i>
            </div>
        </div>
        <!-- Submit Button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-small green-btn">
                    Add Recipe <i class="fas fa-plus-circle right hide-on-med-and-down"></i>
                </button>
            </div>
        </div>
    </form>
</div>
</div>
{% endblock %}