{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Manage Categories</h3> 

<div class="row">
  <div class="col s12 center-align">
    <a href="{{ url_for('add_category') }}" class="btn-small add-list-item">
      Add Category <i class="fas fa-plus-square right"></i>
    </a>
  </div>
</div>
<div class="row">
  {% for category in categories %}
    <div class="col s12 m6 xl4">
      <div class="card center-align">
        <div class="card-content">
          <span class="card-title text-shadow">{{ category.name }}</span>
        </div>
        <div class="card-action">
          <a href="#" class="btn add-list-item">Edit</a>
          <a href="#" class="btn remove-list-item">Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
            

{% endblock %}