{% extends "base.html" %}
{% block content %}

<section>
    <!--CREDIT: Card panel code customized from materializecss-->
    <!--CREDIT: Mini Project Task Manager and customized-->
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2 height-size">
                <div class="card-panel transparent">
                    <h3 class="center-align">
                        {{ username }}'s Pofile
                    </h3>
                <h4 class="center-align">My Recipes</h4>
                </div>
            </div>
        </div>
        <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m6 l4 xl3">
            <div class="card hoverable">
              <div class="card-image">
              {% if recipe.image_url %}
              <img class="single-recipe-image" src="{{ recipe.image_url }}" alt="{{ recipe.name }}" />
              {% else %}
                <img class="single-recipe-image" src="{{ url_for('static', filename='images/image-replacement.jpg') }}"
                alt="Replacement image" />
              {% endif %}
              <a href="{{ url_for('recipe', recipe_id=recipe._id) }}" 
                class="btn-floating tooltipped remove-list-item pulse halfway-fab see-recipe-font" 
                data-position="top" data-tooltip="See The Recipe">
                <i class="fas fa-eye"></i>
              </a>
            </div>
            <div class="card-content">
              <span class="card-title center-align">
                <h3 class="title-font">{{ recipe.name }}</h3>
              </span>
             
                <!-- Recipe Serves, Calories Per Serving, Category, Added By -->
                <p class="center-align">
                  <i class="fas fa-users tooltipped" data-position="left" data-tooltip="Serves"></i> {{ recipe.serves }} |
                  <i class="fas fa-fire tooltipped" data-position="right" data-tooltip="Calories per serve"></i>
                  {{ recipe.calories }}
                </p>
                <p class="category-font">
                  Category: {{ recipe.category_name }}
                </p>
                <p class="right-align added-font">
                  <em>Added by: {{ recipe.added_by }}</em>
                </p>
              </div>
              <div class="card-action center-align">
               <!-- <a href="{{ url_for('recipe', recipe_id=recipe._id) }}" class="see-recipe-font">See Recipe</a>-->
                {% if session.user|lower == recipe.added_by|lower %}
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id)}}"
                  class="btn-small remove-list-item ">Delete</a>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn-small add-list-item  ">Edit</a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}