<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smoothie Lovers</title>
</head>
<body>
    {% for recipe in recipes %}
        {{ recipe.name }}<br>
        <img src={{ recipe.image_url }} alt="recipe image">
        {{ recipe.category_name }}<br>
        {{ recipe.description }}<br>
            {% for ingredient in recipe.ingredients_list %}
                {{ ingredient }}<br>
            {% endfor %}
            {% for method in recipe.method %}
                {{ method }}<br>
            {% endfor %}    
    {% endfor %}
</body>
</html>