{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
        {{ recipe.name }}<br>
        <img src={{ recipe.image_url }} alt="recipe image">
        {{ recipe.category_name }}<br>
        {{ recipe.description }}<br>
            {% for ingredient in recipe.ingredients_list %}
                {{ ingredient }}<br>
            {% endfor %}
            {% for method in recipe.method %}
                {{ method }}<br>
            {% endfor %} 
        {{ recipe.added_by }}       
    {% endfor %}

    {% endblock %}